<!DOCTYPE html>
<html lang="en" xmlns:th ="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DVDStore</title>
</head>
<body>
<h1>Votre boutique de DVD en ligne </h1>
<h2> Voici nos differnts films</h2>

    <ul>
        <table border="1">
            <tr th:each="movie: ${movies}">
                <td th:text="${movie.title}"></td>                               <!--Nous utilisons le nom invoice(peu importe) donne a notre variable plus haut -->
                <td th:text="${movie.genre}"></td>
            </tr>
        </table>
    </ul>
</body>
</html>